@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--tertiary-color);
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #120c07;
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 20px;
    border: 3px double var(--tertiary-color);
}

body {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    color: var(--primary-color);
}

main {
    font-size: 1.4rem;
    background-color: var(--tertiary-color);
    padding: 0 30px;
}

img {
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--quartiary-color);
}

.subtitle {
    text-align: center;
    margin-top: 60px;
    font-size: 3rem;
}