@media (max-width: 768px) {
    main {
        padding-inline: 20px;
    }

    .subtitle {
        font-size: 2rem;
    }

    .hero {
        flex-direction: column-reverse;
        padding: 100px 10px;
        text-align: center;
    }

    .hero-presentation {
        margin-top: 60px;
    }

    .container-about {
        flex-direction: column;
    }

    .profile-section-about {
        max-width: 450px;
    }

    .card {
        max-width: 340px;
    }

    .form-section {
        flex-direction: column;
    }

    .form-section h3 {
        margin: 25px 0 0;
    }

    .footer {
        padding-inline: 15px;
    }

    .footer-name {
        font-size: 1.6rem;
    }

    .footer .footer-grid {
        grid-template-columns: repeat(2, minmax(100px, 400px));
        grid-template-rows: repeat(2, auto);
        gap: 35px;
    }

    .footer .contacts-box {
        align-items: start;
    }
}

@media (max-width: 425px) {
    main {
        padding-inline: 10px;
    }

    .contacts-list {
        font-size: 1rem;
        display: flex;
        margin-top: 30px;
    }

    .hero-presentation {
        font-size: 1.4rem;
    }

    .name-hero {
        font-size: 2.5rem;
    }

    .cargo-hero {
        font-size: 1.4rem;
    }

    .profile-section-about {
        max-width: 300px;
    }

    .contacts-list i {
        font-size: 2.5rem;
    }

    .skills-list li p,
    .hobbies-list li p {
        font-size: 1rem;
    }

    .footer {
        gap: 5px;
        padding-inline: 10px;
    }

    .footer-name {
        font-size: 1.4rem;
    }
    
    .footer-data {
        font-size: 1.2rem;
    }

    .footer .navigation-buttons-box {
        text-align: left;
    }

    .footer .footer-grid {
        grid-template-columns: minmax(100px, 400px);
        row-gap: 55px;
    }
}