.hero {
    background-color: darkgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}

.container-hero-image {
    width: 450px;
    height: 450px;
    background-color: blue;
}