.hero {
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
    align-items: center;
    min-height: 100vh;
    background-color: var(--tertiary-color);
}

.hero-presentation {
    font-size: 1.8rem;
    font-weight: 400;
}

.name-hero {
    font-size: 3.5rem;
}

.cargo-hero {
    font-size: 1.8rem;
}

.contacts-list {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 15px;
}

.contacts-list a i{
    color: var(--primary-color);
    font-size: 25px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: -3px -3px 3px rgb(175, 175, 175),
    3px 3px 3px rgb(2, 2, 2);
}

.container-hero-image {
    max-width: 450px;
    border-radius: 50%;
    padding: 15px;
    box-shadow: inset 0 0 3px 3px var(--primary-color);
}

.image-hero {
    margin: auto;
    border-radius: 50%;
    box-shadow: 0 0 3px 3px var(--primary-color);
    background: linear-gradient(to right, var(--primary-color), var(--quartiary-color));
    background-size: 280% 280%;
    animation: gradient-animation 5s ease infinite;

}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container-about {
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .description-about{
    margin-top: 35px;
}

.skills {
    padding-block: 20px;
}

.skills-list,
.hobbies-list {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 25px;
}

.skills-list li,
.hobbies-list li {
    background-color: var(--quartiary-color);
    width: 176px;
    height: 174px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 0 15px;
}

.skills-list li p,
.hobbies-list li p {
    font-size: 1.2rem;
    margin-block: 10px;
}

.certificates {
    padding-block: 55px;
}

.certificates .list-certificates {
    display: flex;
    gap: 15px;
    margin: 50px auto 0;
    justify-content: flex-start;
    padding-block: 15px;
    padding: 20px;
    max-width: 1208px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 20px;
    border: 5px solid black;
    background: var(--quartiary-color);
}

.certificates .list-certificates .certificate-card {
    min-width: 250px;
    max-width: 280px;
    padding: 5px;
    border: 2px solid black;
    text-align: center;
    border-radius: 15px 0 15px 0;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    background-color: var(--tertiary-color);
}

.certificates .list-certificates .certificate-date {
    font-size: 1.4rem;
}

.certificates .list-certificates .certified-title {
    font-size: 1.4rem;
    margin-top: 10px;
}

.certificate-description {
    font-size: 1rem;
    margin-top: 15px;
}

.projects {
    padding-block: 50px;
}

.list-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 50px auto 0;
    height: 528px;
    padding: 15px 10px;
    overflow-x: scroll;
    border: 5px solid black;
    background-color: var(--quartiary-color);
}

.card {
    max-width: 320px;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    border-radius: 15px 0 15px 0;
    background-color: var(--tertiary-color);
}

.gif-card {
    border-radius: 5px 0 0 0;
}

.name-card-project {
    font-size: 1.4rem;
    letter-spacing: 1px;
    margin-top: 5px;
    height: 70px;
}

.description-card-projects {
    font-size: 1.1rem;
    height: 120px;
    overflow-y: scroll;
    border: 3px solid var(--primary-color);
    padding-inline: 3px;
    text-align: left;
}

.technologies-card-project {
    font-size: 1rem;
    margin-top: 5px;
}

.card-button-container {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    justify-content: center;
}

.card-button-container .btn {
    padding: 16px;
    font-size: 1.2rem;
    box-shadow: 0 0 3px 3px black;
    border-radius: 8px;
}

.card-button-container .btn:first-child{
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.card-button-container .btn:last-child{
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

.card-button-container .btn:hover {
    opacity: 0.7;
}

.card-button-container .btn:active {
    opacity: 1;
    box-shadow: inset 0 0 3px 3px black;
}

.form-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 85px;
}

.form-section h3 {
    margin: 35px 50px 0;
}

.form-section .message {
    margin-top: 35px;
    max-width: 500px;
    font-size: 1.2rem;
}

.form-section form {
    /* background-color: var(--secundary-color); */
    color: var(--quartiary-color);
    max-width: 500px;
    width: 100%;
    padding: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin-top: 45px;
}

.form-section form .form-control {
    margin-bottom: 25px;
    position: relative;
}

.form-control input, textarea {
    border: none;
    width: 100%;
    font-size: 1.2rem;
    padding: 15px;
    outline: none;
    transition: all 0.5s;
}

.form-control textarea {
    padding: 10px;
    height: 114px;
    resize: none;
}

.form-control .icon-error {
    width: 24px;
    height: auto;
    position: absolute;
    display: none;
    top: 15px;
    right: 15px;
}

.form-section form .form-control small {
    font-size: 1rem;
    color: hsl(0, 100%, 74%);
    display: none;
}

.form-control.invalid input,.form-control.invalid textarea {
    border: 3px solid hsl(0, 100%, 74%);
}

.form-section form .form-control.invalid small {
    display: block;
}

.form-control.invalid .icon-error {
    display: inline-block;
}

.form-section form input:focus, .form-section form textarea:focus {
    border-radius: 16px;
    border-bottom: 4px solid var(--primary-color);
}

form button {
    width: 100%;
    padding-block: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    transition: all 1s;
    background-color: transparent;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
}

.form-section form button:hover {
    background-color: var(--quartiary-color);
    color: var(--primary-color);
    border-radius: 16px;
    cursor: pointer;
}

.footer {
    min-height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--secundary-color);
    padding-block: 40px;
    color: var(--quartiary-color);
}

.footer-name {
    font-size: 1.8rem;
}

.footer-data {
    font-size: 1.4rem;
}

.footer .footer-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 400px));
    grid-template-rows: 140px;
    justify-content: space-between;
    font-weight: 500;
    margin-top: 40px;
}

.footer .copyright-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer .footer-message {
    font-size: 1.1rem;
}

.footer .warning {
    font-size: 1.1rem;
}

.footer .navigation-buttons-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.7rem;
    gap: 1rem;
}

.footer .contacts-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.7rem;
    justify-content: space-between;
    gap: 1rem;
}

.footer .contact-list {
    display: flex;
    font-size: 1.7rem;
    gap: 1rem;
}